* {
  margin: 0;
  padding: 0;
  border: 0.5px black solid;
}

body {
    font-family: "Poppins", sans-serif;
  }

  ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    display: flex;
    flex-direction: row;
  }
  figure {
    display: flex;
    flex-direction: column;

  }


    h3 {
      writing-mode: vertical-rl;
text-orientation: mixed;
border: black 1px solid;
    }